
.calendar_month {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    font-size: 24px;
    font-weight: 600;

}

.calendar__row {
    display: flex;
    justify-content: center;
    
}

.calendar__box {
    width:12%;
    height: 100px;
    padding: 5px;
    border: 0.5px solid rgba(0,0,0,0.1);
    border-radius: 8px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.calendar__booking, .calendar__booking__done {
    display: flex;
    align-items: center;
    height: 20px;
    background-color: wheat;
    margin-top: 10px;
    padding: 0px 5px;
    text-align: left;
    font-size: 13px;
    font-weight: 200;
}

.calendar__booking__done {
    background-color: var(--black-grey);
}